@charset "UTF-8";
/*!
=================================================
======== *このcssは、sassで構成されています。 ========
=================================================
*/
/*!
global > _color.scss
--------------------------------
*/
:root {
  --color-bg-base: #fff;
  --color-bg-dark: #000;
  --color-bg-accent: #f0f0f0;
  --color-bg-sub: #f7f7f7;
  --color-bg-tag: #e8e8e8;
  --color-font-base: #333;
  --color-font-main: #391e88;
  --color-font-light: #fff;
  --color-font-marker: #f3f534;
  --color-bg-button: linear-gradient(to left, #250d65 0%, #7633a4 100%);
  --color-font-button: #fff;
  --color-bg-icon: #fff;
  --color-icon: #391e88;
  --color-icon-light: #fff;
}

/*!
global > _font.scss
--------------------------------
*/
:root {
  --font-family-base: "Hiragino Kaku Gothic ProN", sans-serif;
  --font-family-en: "Montserrat", sans-serif;
}

/*!
global > _content-width.scss
--------------------------------
*/
:root {
  --content-width: min(92%, 1110px);
  --content-width-sm: min(92%, 750px);
  --content-width-lg: min(92%, 1300px);
}

/*!
global > _z-index.scss
--------------------------------
*/
:root {
  --z-index-modal: 1000;
  --z-index-header: 100;
  --z-index-tooltip: 10;
  --z-index-default: 1;
  --z-index-bg: -1;
}

/*!
foundation > _reset.scss
--------------------------------
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

hr {
  height: 0;
  color: inherit;
}

details,
main {
  display: block;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1em;
}

b,
strong {
  font-weight: bolder;
}

table {
  border-color: inherit;
  text-indent: 0;
}

input,
button,
select,
textarea {
  font: inherit;
  background-color: transparent;
  border-style: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

[disabled] {
  cursor: default;
}

ul,
ol {
  list-style: none;
}

img,
picture,
svg {
  display: block;
  width: 100%;
  height: auto;
}

/*!
foundation > _base.scss
--------------------------------
*/
html {
  font-size: 100%;
  scroll-behavior: smooth;
  background: var(--color-bg-base);
}

body {
  font-family: var(--font-family-base);
  font-size: clamp(0.875rem, 0.853rem + 0.09vw, 0.938rem);
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.05em;
  color: var(--color-font-base);
}

/*!
utility > _utility.scss
--------------------------------
*/
.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  margin: -1px !important;
}

/*!
component > _heading.scss
--------------------------------
*/
.c-heading-lv2 {
  font-family: var(--font-family-en);
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  color: var(--color-font-main);
}

.c-heading-lv2--sub {
  display: block;
  font-family: var(--font-family-en);
  font-size: clamp(1.875rem, 1.743rem + 0.56vw, 2.25rem);
  font-weight: bold;
  text-transform: uppercase;
}

@media (width >= 768px) {
  .c-heading-lv2--left {
    text-align: inherit;
  }
}

.c-heading-lv2--ja {
  font-size: clamp(1.5rem, 1.324rem + 0.75vw, 2rem);
  line-height: 1;
}

/*!
component > _button.scss
--------------------------------
*/
.c-button {
  position: relative;
  display: grid;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: min(100%, 220px);
  height: 56px;
  margin-inline: auto;
  font-family: var(--font-family-en);
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 100vmax;
  background: var(--color-bg-button);
  color: var(--color-font-button);
}

.c-button::after {
  content: "\f0da";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 14px;
  color: var(--color-icon-light);
}

/*!
layout > _container.scss
--------------------------------
*/
.l-container {
  width: var(--content-width);
  margin-inline: auto;
}

.l-container-sm {
  width: var(--content-width-sm);
  margin-inline: auto;
}

.l-container-lg {
  width: var(--content-width-lg);
  margin-inline: auto;
}

/*!
layout > _header.scss
--------------------------------
*/
/*!
layout > _footer.scss
--------------------------------
*/
/*!
page > top > _top-mv.scss
--------------------------------
*/
/*!
animation > _slide-in.scss
--------------------------------
*/
/*!
animation > _fade-in.scss
--------------------------------
*//*# sourceMappingURL=style.css.map */